@font-face {
    font-family: 'SUIT Variable';
    src: url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.woff2') format('woff2');
    /* 추가 폰트 포맷 및 경로 추가 가능 */
}

/* 페이지에서 폰트 사용 */
* {
    font-family: 'SUIT Variable', sans-serif;
}

@import "reset.css";

.text-1 {
    font-size: 45px;
    font-weight: bold;
}

a:hover {
    color: #702BDE !important;
}

.text-m {
    font-size: 30px;
}

.text-2 {
    font-size: 20px;
}

.isBold {
    font-weight: bold;
}

.App {
    width: 100%;
}

.text-2 {
    font-size: 18px;
}

.text-3 {
    font-size: 12px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.section-0 {
    width: 100%;
    margin-bottom: 40px;
}

.section-0 .logo {
    margin: 20px;
}

.section-0 .content {
    display: flex;
}

.section-0 .left-ctn {
    margin-top: 50px;
}

.section-0 .logo img {
    width: 100px;
    height: 100px;
}

.section-0 .right-ctn {
    margin-right: 40px;
}

.section-0 .right-ctn>div {
    margin-bottom: 10px;
}

.section-0 .menu {
    display: flex;
}

.section-0 .search-container button {
    background-color: inherit;
    /* 버튼 배경색 설정 */
    /* 버튼 텍스트 색상 설정 */
    border: none;
    /* 테두리 제거 */
    padding: 5px 10px;
    /* 내부 여백 설정 */
    border-radius: 20px;
    /* 원하는 border-radius 값 설정 */
    cursor: pointer;
    /* 커서 모양 변경 */
    margin-left: 10px;
    /* 버튼과 검색창 사이의 간격 설정 */
}

.section-0 .search-container img {
    width: 20px;
    height: 20px;
}

.section-0 .menu li {
    margin-left: 30px;
}

.section-0 .left-ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-0 .search-container {
    width: 500px;
    height: 30px;
    border-radius: 20px;
    /* 원하는 border-radius 값 설정 */
    background-color: #ffff;
    /* 배경색 설정 */
    padding: 10px;
    /* 내부 여백 설정 */
    display: flex;
    /* Flexbox를 사용하여 자식 요소 배치 설정 */
    align-items: center;
    /* 수직 정렬 설정 */
    outline: 1px solid #007BFF
}

.section-0 .search-container input[type="text"] {
    border: none;
    /* 테두리 제거 */
    padding: 5px;
    /* 내부 여백 설정 */
    border-radius: 20px;
    /* 원하는 border-radius 값 설정 */
    flex: 1;
    /* 남은 공간을 채우기 위해 확장 */
    outline: none;
}

.section-0 .right-ctn {
    text-align: right;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;

}



.section-1_request {
    max-width: 600px;
    width: 100%;
    height: 450px;
    background-image: url('/images/2.jpeg');
    background-size: cover;
    margin: 50px auto;
}

.section-1_request .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: none !important;
    /* !important를 사용하여 기존 스타일을 오버라이드 */
}

/* 커스텀 이미지 적용 */
.swiper-button-prev,
.swiper-button-next {
    background-repeat: no-repeat;
    background-position: center;
    /* 이미지를 버튼의 중앙에 위치시킵니다. */
    background-size: 50%;
    /* 이미지 크기를 줄입니다. 필요에 따라 조정할 수 있습니다. */
    box-sizing: border-box;
    /* padding이 전체 크기에 영향을 주지 않도록 합니다. */
    width: 36px !important;
    /* 버튼의 전체 크기. padding을 고려하여 조금 더 크게 설정합니다. */
    height: 36px !important;
    /* 버튼의 전체 크기. padding을 고려하여 조금 더 크게 설정합니다. */
    padding: 3px;
    /* 내부 여백을 추가합니다. 이 값은 이미지의 크기와 여백에 따라 조정할 수 있습니다. */
    border-radius: 50%;
    /* 원형 모양을 만듭니다. */
    border: none;
    /* 필요에 따라 테두리를 제거합니다. */
}

.swiper-button-prev {
    background-image: url('/images/left-arrow.png') !important;
    /* 여기에 실제 이미지 경로를 사용 */
    background-color: #fff;
}

.swiper-button-next {
    background-image: url('/images/right-arrow.png') !important;
    /* 여기에 실제 이미지 경로를 사용 */
    background-color: #fff;
}














.section-1_community {
    width: 100%;
    height: 500px;
    background-image: url('/images/commu.jpeg');
    background-size: cover;
}

.section-1_introduce {
    width: 100%;
    height: 500px;
    background-image: url('/images/3.jpeg');
    background-size: cover;
}

.section-1_introduce .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff
}

.section-1_portfolio {
    width: 100%;
    height: 500px;
    background-image: url('/images/10.jpeg');
    background-size: cover;
}

.section-1_portfolio .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section-1_question {
    width: 100%;
    height: 500px;
    background-image: url('/images/12.jpeg');
    background-size: cover;
}

.section-1_question .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section-1_notice {
    width: 100%;
    height: 500px;
    background-image: url('/images/11.jpeg');
    background-size: cover;
}

.section-1_notice .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.section-1_community .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section-1_login {
    padding-top: 200px;
    margin-bottom: 300px;
}

.section-1_login .ctn {
    display: flex;
    justify-content: center;
}

.section-1_login img {
    width: 100px;
    height: 100px;
}

.section-1_login .btn button {
    display: inline-block;
    /* 또는 block으로 설정할 수 있지만, inline-block이 레이아웃에 더 적은 영향을 미칩니다. */
    width: 250px;
    /* 원하는 너비 설정 */
    background-color: #007BFF;
    /* 버튼 배경색 설정 */
    color: white;
    /* 버튼 텍스트 색상 설정 */
    border: none;
    /* 테두리 제거 */
    padding: 5px 10px;
    /* 내부 여백 설정 */
    border-radius: 5px;
    /* 원하는 border-radius 값 설정 */
    cursor: pointer;
    /* 커서 모양 변경 */
    margin-left: 10px;
    /* 버튼과 검색창 사이의 간격 설정 */
    height: 30px;
}

.section-1_login label input {
    display: inline;
    width: 25px;
}

.section-1_login .ctn_1,
.section-1_login .ctn_2,
.section-1_login .ctn_3 {
    text-align: center;
}

.section-1_login .ctn_1 label {
    margin-right: 30px;
}

.section-1_login .ctn_1 span {
    display: inline-block;
    margin: 0px 3px;
    color: #878787
}

.section-1_login .ctn_1 {
    margin-top: 50px;
}



.section-1_login .btn {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.section-1_login .ctn_2 {
    display: flex;
    /* Flexbox 레이아웃을 활성화합니다. */
    flex-direction: column;
    /* 자식 요소들을 세로로 배열합니다. */
    align-items: center;
    /* 가로 방향으로 중앙 정렬합니다. */
    width: 100%;

}

.ctn_2 input::placeholder {
    padding-left: 10px;
    color: #C7C6C6;
}




.section-1_login input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 7px;
}

.section-1_login .ctn_3 {
    display: flex;
    justify-content: center;
}

.section-1_login .ctn_3 span {
    display: flex;
    justify-content: center;
    margin: 0px 20px;
    color: #878787
}

.section-1 .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section-1_community .search-container button {
    background-color: #007BFF;
    /* 버튼 배경색 설정 */
    color: white;
    /* 버튼 텍스트 색상 설정 */
    border: none;
    /* 테두리 제거 */
    padding: 5px 10px;
    /* 내부 여백 설정 */
    border-radius: 20px;
    /* 원하는 border-radius 값 설정 */
    cursor: pointer;
    /* 커서 모양 변경 */
    margin-left: 10px;
    /* 버튼과 검색창 사이의 간격 설정 */
}

.section-1 {
    width: 100%;
    height: 500px;
    background-image: url('/images/banner.jpeg');
    background-size: cover;
}

.section-1.slider-2 {
    width: 100%;
    height: 500px;
    background-image: url('/images/banner2.jpeg');
    background-size: cover;
}

.section-1.slider-2 .banner {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    color:#fff;
    padding-left:10vw;
    
}

.section-2_community {
    margin: 100px 0px 50px 0px;
}

.section-2_portfolio {
    text-align: center;
    margin: 200px 150px;
}

.section-2_community .text-2 {
    text-align: center;
    padding: 30px;
}

.section-2_introduce {
    text-align: center;
    margin: 150px;
}

.section-2 {
    margin: 200px 150px;
}

.section-2_introduce .ctn_1 .text-3.isBold {
    width: 70px;
    /* 박스의 너비 */
    height: 30px;
    /* 박스의 높이 */
    /* 테두리 스타일 */
    display: flex;
    /* 내부 텍스트를 중앙 정렬하기 위한 flex 설정 */
    justify-content: center;
    /* 가로 중앙 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
    background-color: #702BDE;
    /* 박스의 배경색 */
    color: #fff;

}

.section-2_introduce .textbox .ctn_1,
.section-2_introduce .textbox .ctn_2,
.section-2_introduce .textbox .ctn_3 {
    display: flex;
    justify-content: center;
    margin: 15px;
}


.section-2_introduce .ctn_2 {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.section-2_introduce .ctn_2 .text-3.isBold {
    width: 70px;
    /* 박스의 너비 */
    height: 30px;
    /* 박스의 높이 */
    /* 테두리 스타일 */
    display: flex;
    /* 내부 텍스트를 중앙 정렬하기 위한 flex 설정 */
    justify-content: center;
    /* 가로 중앙 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
    background-color: #702BDE;
    /* 박스의 배경색 */
    color: #fff;
}

.section-2_introduce .textbox_1,
.textbox_2,
.textbox_3 {
    margin: 100px 0px;
}

.section-2_introduce .ctn_3 .text-3.isBold {
    width: 120px;
    /* 박스의 너비 */
    height: 30px;
    /* 박스의 높이 */
    /* 테두리 스타일 */
    display: flex;
    /* 내부 텍스트를 중앙 정렬하기 위한 flex 설정 */
    justify-content: center;
    /* 가로 중앙 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
    background-color: #702BDE;
    /* 박스의 배경색 */
    color: #fff;
}






.section-2_community .search-container input[type="text"] {
    border: none;
    /* 테두리 제거 */
    padding-left: 30px;
    /* 내부 여백 설정 */
    border-radius: 20px;
    /* 원하는 border-radius 값 설정 */
    flex: 1;
    /* 남은 공간을 채우기 위해 확장 */
    outline: none;
}

.section-2_request {
    text-align: center;
    margin: 80px 0px;
}

.section-2_community .search-container {
    width: 500px;
    height: 30px;
    border-radius: 20px;
    /* 원하는 border-radius 값 설정 */
    background-color: #ffff;
    /* 배경색 설정 */
    padding: 10px;
    /* 내부 여백 설정 */
    display: flex;
    /* Flexbox를 사용하여 자식 요소 배치 설정 */
    align-items: center;
    /* 수직 정렬 설정 */
    outline: 1px solid #007BFF
}

.section-2_community .search-container button {
    position: relative;
    /* 버튼 배경색 설정 */
    color: white;
    /* 버튼 텍스트 색상 설정 */
    border: none;
    /* 테두리 제거 */
    /* 내부 여백 설정 */
    border-radius: 20px;
    /* 원하는 border-radius 값 설정 */
    cursor: pointer;
    /* 커서 모양 변경 */
    margin-left: 10px;
    /* 버튼과 검색창 사이의 간격 설정 */
    background-color: #fff;
}

.section-2_community .search-container button img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -9px;
}

.section-2_portfolio img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin: 50px 20px 20px 20px;
}

.section-2 img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin: 50px 20px 20px 20px;
}

.section-2_community .ctn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-2_community .btn {
    width: 150px;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: #702BDE;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.section-2 .ctn {
    text-align: center;
    width: 100%;
    /* 기본적으로 너비를 100%로 설정 */
    /* 최소 너비를 1280px로 설정 */
}

.section-2 p {
    margin-top: 40px;
    text-align: center;
    
}

.section-3 {
    margin: 100px 0px 100px 140px;
}

.section-3 p {
    margin: 9px;
}

.section-3_request {
    max-width: 1200px;
    width: 100%;
    height: 1000px;
    color: #fff;
    background-color: #702BDE;
    margin: 0 auto;
}

.section-3_request .text-1:nth-of-type(1) {
    text-align: center;
    padding: 100px 0px 30px 0px;
}

.section-3_request .ctn_1 {
    width: 100%;
    margin-top: 60px;
    padding-left: 80px;
}

.section-3_request .ctn_2 {
    width: 100%;
    margin-top: 60px;
    padding-left: 80px;
}

.section-3_request .ctn_3 {
    width: 100%;
    margin-top: 60px;
    padding-left: 80px;
}

.section-3_community {
    margin: 70px 0px 70px 0px;
    /* 수평 가운데 정렬 */
    align-items: center;
    /* 수직 가운데 정렬 */
}

.section-3_community .custom-table {
    margin: 0 auto;
    border-collapse: collapse;
    /* 테이블 셀 간의 간격을 없애기 위해 사용 */
    max-width: 1000px;
    width: 100%;
    text-align: left;
}

.custom-table .header-cell:nth-child(1) {
    /* 번호 */
    width: 10%;
}

.custom-table .header-cell:nth-child(2) {
    /* 제목 */
    width: 60%;
    text-align: center;
}

.custom-table .header-cell:nth-child(3) {
    /* 작성자 */
    width: 10%;
}

.custom-table .header-cell:nth-child(4) {
    /* 작성일 */
    width: 10%;
}

.custom-table .header-cell:nth-child(5) {
    /* 조회 */
    width: 10%;
}

.custom-table .header-cell:nth-child(5) {
    /* 조회 */
    width: 10%;
}

.custom-table tr td:nth-of-type(2) {
    text-align: center;
}



.section-3_community .custom-table th,
.custom-table td {
    padding: 8px 12px;
    /* 셀 안의 여백 조정 */
    border-bottom: 1px solid #000;
    /* 바닥 라인만 추가 */
}

.section-3_community .custom-table th {
    background-color: #ffff !important;
    /* 헤더 배경색 설정 */
    font-weight: bold;
    /* 헤더 글꼴 두껍게 설정 */
}

.section-3_community .custom-table tbody tr:nth-child(even) {
    background-color: #ffff;
    /* 짝수 번째 행 배경색 설정 */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    /* 테이블과의 간격 조정 */
}

.page-btn {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    color: white;
    margin: 0px 10px;
    padding: 5px 10px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

.page-btn:hover {
    background-color: #702BDE
}





footer {
    background-color: #f6f6f6;
    height: 200px;
}

.footer-area {
    background-color: #f6f6f6;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.footer-area p {
    padding: 5px;
}

@media (min-width : 1001px) {
    .section-0 .header_m {
        display: none;
    }
}

@media (max-width: 1000px) {
    .section-0 .nav {
        display: none;
    }

    .section-2 {
        margin: 10px;
    }

    .header_m .header_ctn {
        display: flex;
        justify-content: space-between;
    }

    .header_m .status_m {
        display: inline;
        text-align: right;
        padding: 20px;
    }

    .header_m .logo_m img {
        margin: 30px;
        width: 150px;
        height: 150px;
    }

    .header_m .menu {
        width: 100%;
        height: 100vh;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        background-color: #fff;
    }

    .header_m .menu li {
        margin-top: 60px;
    }

    .header_m .status_m img {
        width: 50px;
        height: 50px;
    }
}


@media (max-width: 600px) {

    .section-3 {
        margin: 0px;
    }

    .section-3_request {
        height: 100%;
    }

    .section-3_request .ctn_1,
    .section-3_request .ctn_2,
    .section-3_request .ctn_3 {
        padding-left: 0px;
        padding-bottom: 60px;
    }

    .custom-table thead {
        display: none;
        /* 헤더 숨기기 */
    }

    .custom-table tbody tr {
        display: block;
        margin-bottom: 0.625em;
    }

    .custom-table tbody tr td {
        display: block;
        text-align: right;
        padding: 0.3em;
        position: relative;

        &:before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            position: absolute;
            left: 0;
        }
    }
}