@font-face {
    font-family: 'SUIT Variable';
    src: url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.woff2') format('woff2');
    /* 추가 폰트 포맷 및 경로 추가 가능 */
}

/* 페이지에서 폰트 사용 */
* {
    font-family: 'SUIT Variable', sans-serif;
    outline: 1px solid #eee;
}

@import "reset.css";

.text-1 {
    font-size: 45px;
    font-weight: bold;
}
.text-2 {
    font-size : 20px;
}
.isBold{
    font-weight: bold;
}
.App {
    width: 100%;
}

.text-2 {
    font-size: 18px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.section-0 {
    width: 100%;
}

.section-0 .content {
    display: flex;
}

.section-0 .logo img {
    width: 100px;
    height: 100px;
}

.section-0 .menu {
    display: flex;
}

.section-0 .menu li {
    margin-left: 20px;
}

.section-0 .left-ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-0 .search-container {
    width: 500px;
    height: 10px;
    border-radius: 20px;
    /* 원하는 border-radius 값 설정 */
    background-color: #ffff;
    /* 배경색 설정 */
    padding: 10px;
    /* 내부 여백 설정 */
    display: flex;
    /* Flexbox를 사용하여 자식 요소 배치 설정 */
    align-items: center;
    /* 수직 정렬 설정 */
    outline: 1px solid #007BFF
}

.section-0 .search-container input[type="text"] {
    border: none;
    /* 테두리 제거 */
    padding: 5px;
    /* 내부 여백 설정 */
    border-radius: 20px;
    /* 원하는 border-radius 값 설정 */
    flex: 1;
    /* 남은 공간을 채우기 위해 확장 */
}

.section-0 .right-ctn {
    text-align: right;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;

}

.section-0 .search-container button {
    background-color: #007BFF;
    /* 버튼 배경색 설정 */
    color: white;
    /* 버튼 텍스트 색상 설정 */
    border: none;
    /* 테두리 제거 */
    padding: 5px 10px;
    /* 내부 여백 설정 */
    border-radius: 20px;
    /* 원하는 border-radius 값 설정 */
    cursor: pointer;
    /* 커서 모양 변경 */
    margin-left: 10px;
    /* 버튼과 검색창 사이의 간격 설정 */
}

.section-1 .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.section-1 {
    width: 100%;
    height: 500px;
    background-image: url('/images/banner.jpeg');
    background-size: cover;
}

.section-2 img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin:50px 20px 20px 20px;
}
.section-2 div {
    text-align: center;
    width:1280px;
}
.section-2 p{
    text-align: left;
}
.section-3{
    margin:100px 0px 100px 140px;
}
.section-3 p{
 margin:9px;
}
footer {
    background-color: #f6f6f6;
    height:200px;
}